#tooltip{
  position: absolute;
  font-size: 12px;
  background: rgba(255, 255, 255, 0.95);
  padding: 5px 10px;
  border-radius: 3px;
  box-shadow: 2px 2px 10px;
}

.labels{
    font: 10px sans-serif;
  text-align: center;
  display: block;
  margin: auto;
}

div.legend{
  margin: auto;
  margin-top: 30px;
}